/* Reset CSS  USEM FAÇAM SEMPRE */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    /* largura  100% é sempre o padrão de um container*/
    width: 100%;

    /* altura */
    height: 80px;

    /* cor de fundo */
    background-color: #000000;

    /* cor do texto */
    color: #FFFFFF;

    /* posicionamento dos filhos do header - FlexBox - cuidado o valor a ser usado é flex
        Só funciona quando aplicado ao container PAI....
        O padrão é que os elementos fiquem um ao lado do outro - flex-direction: row
        Quando usamos row - align-item alinha verticalmente
        Quando usamos row - justify-content alinha horizontalmente
    */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;    
}

.header-title {
    font-size: 32px;
    text-transform: uppercase;
}

.header-logo {
    color: #dc143c;   
}

.menu ul {
    /* tirar marcadores das listas */
    list-style: none;
    /* deixar as opções do menu uma ao lado da outra */
    display: flex;
}

.menu-item {
    /* alterando espaço entre as opções do menu */
    margin: 0 15px;
}

.menu-item a {
    /* cor dos links */
    color: #fff;

    /* tirar o sublinhado */
    text-decoration: none;

    /* diminuir a fonte */
    font-size: 14px;

    /* peso da fonte */
    font-weight: 900;
}

/* a regra só será aplicada quando passar o mouse sobre os links */
.menu-item a:hover {
    color: #dc143c;
}

/* classe para estilizar o login */
.btn {
    padding: 5px 30px;
    border: 1px solid #dc143c;
    border-radius: 7px;
    background-color: #dc143c;
    transition: .5s;
}

.btn:hover {
    background-color: transparent;
}

/********************* fim do header ************************/

/********************* hero *****************/
.hero {
    width: 100%;
    /* vh usa a altura do viewport  */
    height: calc(100vh - 80px);

    /* inserindo imagem de fundo */
    background-image: url(../images/pexels-hasan-albari-1229861.jpg);

    /* não permite a repetição da imagem de fundo */
    background-repeat: no-repeat;

    /* fazer com que a imagem de fundo cubra a tela */
    background-size: cover;

    /* posicionar o ponto central da imagem com o ponto central da tela */
    background-position: 50%;   
    
     /* espacamento entre o conteúdo interno e a margen esquerda */
     padding-left: 50px;

      /* flex para posicionar o conteúdo */
      /* flex column para posicionar o conteúdo, um abaixo do outro */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

}

.hero-title{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
    width: 30vw;
    /* line-heigth serve para distanciar o texto */
    /*text-align: center;
    line-height: 50px; */
}

.hero-link{
     color: #fff;
     text-decoration: none;
     font-size: 22px;
     border: 1px solid #fff;
     padding: 15px 60px;
     border-radius: 70px;
     transition: 5s;
}

.hero-link:hover{
    background-color: #dc143c;
    border-color: #dc143c;
}