
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{

    width: 80%;
    height: 100px;

    color: #dc143c;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 10px solid #0000;
    border-top: 10px solid #900;
    
    
}

p{
    color: #dc143c;

}